<link rel="stylesheet" href="/css/login.css">

<div class="container">
  
  <div class="row mt-4">

    <div class="col-12 col-sm-4 mt-4">
    </div>




          <div class="col-12 col-sm-4 mt-4">
            <div class="card card-body">
              <div class="text-center" style="width: 100%; margin-bottom: 20px;">
                <img src="/images/logo.png" alt="jh-logo">
              </div>
              <img src="/images/logo-black.png"> <hr>
              <h3 class="text-center mb-3">
                 Admin Login
              </h3>
              <%- include('../partials/messages'); %>
              <form action="/admin/login" method="POST">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter Email"
                    autocomplete="off"
                  />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter Password"
                  />
                </div>
                <button type="submit" class="btn btn-success btn-block">Login</button> <br>
                <a href="/" class="btn btn-primary">Back</a>
              </form>
              


             </div>

          </div>





    <div class="col-12 col-sm-4">
    </div>

  </div>





 
</div>







    
   
