


     
<%- include('../admin/partials/header'); %>
<link rel="stylesheet" href="/css/manage_questions.css">
 
<body>
  <!--Main Navigation-->
  <%- include('../admin/partials/sidebar'); %>
  <!--Main Navigation-->
    

  <main style="margin-top: 58px;background-image: url('/images/bg2.jpg');height: 100vh;background-repeat: no-repeat;
  background-size: cover;background-position: right;background-attachment: fixed;
  " >
    <div class="container pt-4">
        <div class="container">
            
            
              
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">Category</li>
                 
                </ol>
              </nav>


              <div class="row">
                <div class="col-12 col-sm-3">
                   <form action="/quiz/search" method="GET">
                      <div class="form-group" style="display: flex;">
                        <input 
                          type="search"
                          name="search" 
                          placeholder="Enter keyword of a question..." 
                          class="form-control mr-sm-2"
                          autocomplete="off"
                          style="margin-right:0 !important;">
                        <button style="margin-left: 0;" class="btn btn-success my-2 my-sm-0"> <i class="fas fa-search fa-lg" ></i> </button>
                      </div>
                   </form>
                </div>
              </div>



            <div class="row">
                
                <div class="col-12 col-sm-3 categoryBox">
                    <h3>General Education</h3>
                    <a href="/quiz/general_education" class="btn btn-primary"> Manage </a>
                </div>
                <div class="col-12 col-sm-3 categoryBox">
                    <h3>Professional Education</h3>
                    <a href="/quiz/prof_education" class="btn btn-primary"> Manage </a>
                </div>
                <div class="col-12 col-sm-3 categoryBox">
                    <h3>Major</h3>
                    <a href="/quiz/major" class="btn btn-primary"> Manage </a>
                </div>
            </div>
        </div>
        
    </div>
</main>
   







<script src="/js/user.js">

</script>
<%- include('../admin/partials/footer'); %>

