<link rel="stylesheet" href="/css/login.css">

<div class="container">


  <div class="row mt-4">

    <div class="col-12 col-sm-4 mt-4">
    </div>




          <div class="col-12 col-sm-4 mt-4">
            <div class="card card-body">
              
              <img src="/images/logo-black.png" width=""> <hr>
              <h3 class="text-center mb-3">
                 Login
              </h3>
              <%- include('./partials/messages'); %>
              <form action="/users/login" method="POST">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter Email"
                    autocomplete="off"
                  />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter Password"
                  />
                </div>
                <button type="submit" class="btn btn-success btn-block">Login</button> <br>
              </form>
              
              <a href="/auth/google" type="submit" class="btn btn-danger btn-block">Login with Google Account</a>
              <p class="lead mt-4">
                No Account? <a href="/users/register">Register</a> <br>
                <a href="/" class="btn btn-primary">Back</a>
              </p>
            </div>

          </div>





    <div class="col-12 col-sm-4">
    </div>

  </div>
 

</div>


