<link rel="stylesheet" href="/css/login.css">

<div class="container mt-4">
  <div class="row mt-4">

    <div class="col-12 col-sm-4 mt-4">
    </div>

          <div class="col-12 col-sm-4 mt-4">
            <div class="row mt-5" style="margin: 0 auto;">
              <div class="card card-body text-center">
                <div class="text-center" style="width: 100%; margin-bottom: 20px;">
                  <img src="/images/logo.png" alt="jh-logo">
                </div>
                <img src="/images/logo-black.png">

                <p>Create an account or login</p>
                <a href="/users/register" class="btn btn-success btn-block mb-2">Register</a>
                <a href="/users/login" class="btn btn-secondary btn-block">Login</a>

                <div class="text-center" style="width: 100%;">
                  <br>
                  <p class="lead" style="color: rgb(65, 63, 63);"> Admin account can login in

                    <a href="/admin/login"> <strong>here</strong> </a> </p>
                </div>
              </div>
            </div>

          </div>
    <div class="col-12 col-sm-4">

    </div>

  </div>
</div>