

<link rel="stylesheet" href="/css/user-dashboard.css">
<link rel="stylesheet" href="/css/mockExam.css">



<!--Main layout-->
<main style="margin-top: 58px">
  <div class="container pt-4">
      <h3>Mock Exam</h3>


      
      <div id="quiz"></div>
      <button id="submit">Get Results</button>
      <div id="results"></div>

   
  
  </div>
</main>
<!--Main layout-->
     


<script src="/js/user.js"></script>
<script src="/js/mock-exam2.js"></script>





