<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
<link rel="stylesheet" href="/css/welcome.css">

<div class="bg-success">

  <div class="alert alert-success animate__animated animate__tada" role="alert">
    Authentication Successful!
  </div>
      
    <h3>Welcome  <%= user.name %></h3>
  <div style="display: inline;">
    
      <a href="/auth/user/dashboard" class="btn btn-default"> Continue  </a>
  </div>
</div>




